.candidates {
    position: absolute;
    width: calc(100% - 29.6875rem);
    height: calc(100% - 5rem);
    top: 5rem;
    left: 29.6875rem;

    cursor: default;
}

.candidates-- {
    &heading {
        position: absolute;
        left: 6.125rem;
        top: 4.25rem;

        font-family: Droid Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.02em;
        text-indent: 0.75rem;

        color: #000000;

        &-name {
            position: absolute;
            width: 18.5rem;
            height: 3rem;
            top: 11.3125rem;
            left: 10.75rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;
            display: flex;
            align-items: center;

            color: #000000;
        }

        &-id {
            position: absolute;
            width: 15.875rem;
            height: 3rem;
            top: 19.4375rem;
            left: 10.75rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;
            display: flex;
            align-items: center;

            color: #000000;
        }

        &-constituency {
            position: absolute;
            width: 15.875rem;
            height: 3rem;
            top: 28.4375rem;
            left: 10.75rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;
            display: flex;
            align-items: center;

            color: #000000;
        }
    }

    &input {
        &-name {
            position: absolute;
            width: 31.25rem;
            height: 3rem;
            top: 14.375rem;
            left: 10.75rem;
            padding-left: 0.75rem;

            background: #FFFFFF;
            border: 0.125rem solid #08BBF4;
            box-sizing: border-box;
            font-size: 1.125rem;
            font-family: Orienta;
        }

        &-id {
            position: absolute;
            width: 31.25rem;
            height: 3rem;
            top: 22.5rem;
            left: 10.75rem;
            padding-left: 0.75rem;

            background: #FFFFFF;
            border: 0.125rem solid #08BBF4;
            box-sizing: border-box;
            font-size: 1.125rem;
            font-family: Orienta;
        }

        &-constituency {
            position: absolute;
            width: 31.25rem;
            height: 3rem;
            top: 31.875rem;
            left: 10.75rem;
            padding-left: 0.75rem;

            background: #FFFFFF;
            border: 0.125rem solid #08BBF4;
            box-sizing: border-box;
            font-size: 1.125rem;
            font-family: Orienta;
        }
    }

    &submit {
        position: absolute;
        width: 12.5rem;
        height: 3rem;
        top: 38.4375rem;
        left: 10.75rem;

        background: #08BBF4;
        border-radius: 0.125rem;
        border: 0.125rem solid #08BBF4;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: center;

        color: #FFFFFF;
    }

    &submit:hover {
        cursor: pointer;
    }
}
