.constituency {
    position: absolute;
    width: calc(100% - 29.6875rem);
    height: calc(100% - 5rem);
    top: 5rem;
    left: 29.6875rem;
    cursor: default;
}

.constituency-- {
    &heading {
        position: absolute;
        left: 6.125rem;
        top: 5.75rem;

        font-family: Droid Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.02em;
        text-indent: 0.75rem;

        color: #000000;

        &-name {
            position: absolute;
            width: 12.0625rem;
            height: 2rem;
            top: 5.125rem;
            left: 3.4375rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;

            color: #000000;
        }

        &-id {
            position: absolute;
            width: 11.5rem;
            height: 2rem;
            top: 7.125rem;
            left: 3.4375rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;

            color: #000000;
        }

        &-start {
            position: absolute;
            width: 11.5rem;
            height: 2rem;
            top: 10.25rem;
            left: 3.4375rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;

            color: #000000;
        }

        &-duration {
            position: absolute;
            width: 11.5rem;
            height: 2rem;
            top: 15.6875rem;
            left: 3.4375rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;

            color: #000000;
        }
    }

    &submit {
        position: absolute;
        width: 12.5rem;
        height: 3rem;
        top: 22rem;
        left: 7rem;

        background: #08BBF4;
        border-radius: 0.125rem;
        border: 0.125rem solid #08BBF4;

        font-family: "Orienta";
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: center;

        color: #FFFFFF;
    }

    &search {
        position: absolute;
        right: 10.9375rem;
        top: 4.25rem;
        width: 15.625rem;
        height: 3rem;

        &-input {
            position: absolute;
            width: 15.625rem;
            height: 3rem;

            background: #FFFFFF;
            border: 0.125rem solid #08BBF4;
            box-sizing: border-box;
            border-radius: 0.125rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;
            text-indent: 0.75rem;
        }

        &-icon {
            position: absolute;
            width: 2.75rem;
            height: 2.75rem;
            top: 0.125rem;
            right: 0.125rem;
        }

        &-icon:hover {
            cursor: pointer;
        }
    }

    &list {
        position: absolute;
        width: 85%;
        height: 70%;
        top: 12.5rem;
        left: 6.125rem;
        overflow-y: auto;
    }

    &overlay {
        position: absolute;
        width: 100%;
        height: 100%;

        background: rgba(6, 52, 85, 0.7);
    }

    &start {
        position: absolute;
        width: 25rem;
        height: 28.125rem;
        top: calc(50% - 14.0625rem);
        left: calc(50% - 12.5rem);

        background: #FFFFFF;
        border-radius: 0.25rem;

        &-heading {
            position: absolute;
            width: 12.75rem;
            height: 2rem;
            top: 1.875rem;
            left: calc(50% - 6.375rem);

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;
            text-align: center;

            color: #000000;
        }
    }

    &input {
        &-start {
            position: absolute;
            width: 11.5rem;
            height: 2rem;
            top: 12.625rem;
            left: 3.4375rem;

            background: #FFFFFF;
            border: 0.0625rem solid #08BBF4;
            box-sizing: border-box;
            border-radius: 0.125rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.1875rem;
            display: flex;
            align-items: center;
            padding: 0rem 0.75rem;
            color: rgba(0, 0, 0, 1);
        }

        &-duration {
            position: absolute;
            width: 11.5rem;
            height: 2rem;
            top: 18.3125rem;
            left: 3.4375rem;

            background: #FFFFFF;
            border: 0.0625rem solid #08BBF4;
            box-sizing: border-box;
            border-radius: 0.125rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.1875rem;
            display: flex;
            align-items: center;
            text-indent: 0.75rem;
        }
    }

    &close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }

    &close:hover {
        cursor: pointer;
    }

    &button {
        position: absolute;
        width: 9rem;
        height: 2.25rem;
        top: 22.875rem;
        left: calc(50% - 4.5rem);

        background: #000000;
        border: 0.125rem solid #000000;
        border-radius: 0.125rem;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.1875rem;
        text-align: center;

        color: #FFFFFF;
    }

    &button:hover {
        cursor: pointer;
    }
}