.constituencypanel {
    position: relative;
    width: 98%;
    height: 81px;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4; 
}

.constituencypanel-- {
    &heading {
        position: absolute;
        width: 298px;
        height: 48px;
        top: 30px;
        left: 32px;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;

        color: #000000;
    }

    &id {
        position: absolute;
        width: 258px;
        height: 48px;
        top: 30px;
        left: calc(50% - 129px);

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;

        color: #000000;
    }

    &start {
        position: absolute;
        width: 199px;
        height: 48px;
        top: 16px;
        right: 32px;

        background: #000000;
        border: 1px solid #000000;
        box-sizing: border-box;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.02em;

        color: #FFFFFF;
    }

    &start:hover {
        cursor: pointer;
    }
}