.header {
    position: absolute;
    width: 100%;
    height: 5rem;
    background-color: #08BBF4;

    cursor: default;
}

.header-- {
    &logo {
        position: absolute;
        top: 1rem;
        left: 3rem;
        width: 3rem;
        height: 3rem;
        background-color: #000000;
        border-radius: 3rem;
    }

    &name {
        position: absolute;
        top: 1.75rem;
        left: 8.25rem;
        width: 12.5rem;
        height: 3rem;

        font-family: Droid Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.3125rem;
        letter-spacing: 0.02em;

        color: #000000;
    }

    &button {
        position: absolute;
        top: 1rem;
        left: 3rem;
        width: 25rem;
        height: 3rem;
    }

    &user {
        position: absolute;
        right: 8rem;
        top: 0.8125rem;
        height: 3.375rem;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 3.375rem;
        text-align: center;

        color: #FFFFFF;
    }

    &user-image {
        position: absolute;
        right: 3rem;
        top: 1rem;
        width: 3rem;
        height: 3rem;
    }

    &user:hover, &user-image:hover {
        cursor: pointer;
    }

    &admin-image {
        position: absolute;
        top: 0rem;
        right: 0rem;
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
    }
}
