.landing {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: default;
}

.landing-- {
    &sidebar {
        position: absolute;
        width: 43.625rem;
        height: 100%;
        left: 0rem;
        top: 0rem;

        background: #000000;

        &-name {
            position: absolute;
            width: 20.375rem;
            height: 3rem;
            top: 3rem;
            left: 7.5rem;

            font-family: Droid Sans;
            font-style: normal;
            font-weight: bold;
            display: flex;
            align-items: center;
            font-size: 1.125rem;
            line-height: 1.3125rem;
            letter-spacing: 0.02em;

            color: #FFFFFF;
        }

        &-heading {
            position: absolute;
            width: 21.375rem;
            height: 22rem;
            top: calc(50% - 11rem);
            left: calc(50% - 10.6875rem);

            font-family: Droid Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 3rem;
            line-height: 3.5rem;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.02em;

            color: #FFFFFF;
        }
    }

    &logo {
        position: absolute;
        width: 3rem;
        height: 3rem;
        left: 3rem;
        top: 3rem;
    }

    &background {
        position: absolute;
        width: calc(100% - 43.625rem);
        height: 100%;
        top: 0rem;
        left: 43.625rem;

        &-image {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0rem;
            top: 0rem;
        }

    }

    &overlay {
        position: absolute;
        width: calc(100% - 43.625rem);
        height: 100%;
        left: 43.625rem;
        top: 0rem;

        background: rgba(6, 52, 85, 0.75);
    }

    &signin {
        position: absolute;
        width: 48.75rem;
        height: 28.125rem;
        top: calc(50% - 14.0625rem);
        left: calc(50% - 24.375rem);

        background: #FFFFFF;
        border: 0.1875rem solid #08BBF4;
        box-sizing: border-box;
        border-radius: 0.25rem;

        &-block {
            position: absolute;
            width: 55%;
            height: 100%;
            top: 0rem;
            left: 0rem;

            border-right: 0.25rem solid #08BBF4;
        }

        &-details {
            position: absolute;
            width: calc(45% - 2rem);
            height: 100%;
            top: 0rem;
            left: 55%;

            padding: 1rem;
            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;
        }
    }

    &heading {
        &-id {
            position: absolute;
            width: 9.25rem;
            height: 2rem;
            top: 4rem;
            left: 4.3125rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;
            display: flex;
            align-items: center;

            color: #000000;
        }

        &-password {
            position: absolute;
            width: 9.25rem;
            height: 2rem;
            top: 11.3125rem;
            left: 4.3125rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;
            display: flex;
            align-items: center;

            color: #000000;
        }
    }

    &input {
        &-id {
            position: absolute;
            width: 16.9375rem;
            height: 2.25rem;
            top: 6.75rem;
            left: 4.3125rem;
            padding-left: 0.75rem;

            background: #FFFFFF;
            border: 0.125rem solid #08BBF4;
            box-sizing: border-box;
            border-radius: 0.125rem;
        }

        &-password {
            position: absolute;
            width: 16.9375rem;
            height: 2.25rem;
            top: 14.0625rem;
            left: 4.3125rem;
            padding-left: 0.75rem;

            background: #FFFFFF;
            border: 0.125rem solid #08BBF4;
            box-sizing: border-box;
            border-radius: 0.125rem;
        }
    }

    &submit {
        position: absolute;
        width: 9.375rem;
        height: 2.625rem;
        top: 20.4375rem;
        left: 4.3125rem;

        background: #000000;
        border: 0.125rem solid #000000;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: center;

        color: #FFFFFF;
    }

    &submit:hover {
        cursor: pointer;
    }
}