.register {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/azure.png');
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        height: 1.5rem;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        width: 40rem;
        border: 0.1875rem solid #08BBF4;
        padding: 1rem;
    }

    button {
        height: 1.5rem;
        width: 20rem;
        color: #FFFFFF;
        font-family: Droid Sans;
        font-size: 1.5rem;
        line-height: 1.5rem;
        background: #000000;
        border: 0.125rem solid #000000;
        padding: 1rem;
        box-sizing: content-box;
    }

    button:hover {
        cursor: pointer;
    }
}

.register-- {
    &id {
        align-self: center;
        margin-top: calc(50vh - 7rem);
    }
    &button {
        width: 20rem;
        margin: auto;
        justify-self: center;
    }
}