.sidepanel {
    width: 100%;
    height: 4.5rem;

    border-top: 0.0938rem solid rgba($color: #FFFFFF, $alpha: 0.9);
    border-bottom: 0.0938rem solid rgba($color: #FFFFFF, $alpha: 0.9);

    cursor: default;
}

.sidepanel-- {
    &state {
        margin-left: 1.5rem;
    }

    &name {
        height: 4.5rem;

        font-family: Droid Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 4.5rem;
        letter-spacing: 0.02em;

        color: #FFFFFF;
        margin-left: 0.75rem;

        text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    }
}

.sidepanel:hover {
    cursor: pointer;
}