.candidate {
    position: absolute;
    width: calc(100% - 29.6875rem);
    height: calc(100% - 5rem);
    top: 5rem;
    left: 29.6875rem;

    cursor: default;
}

.candidate-- {
    &heading {
        position: absolute;
        left: 6.125rem;
        top: 4.25rem;

        font-family: Droid Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.02em;
        text-indent: 0.75rem;

        color: #000000;
    }

    &list {
        position: absolute;
        width: 85%;
        height: 43.75rem;
        left: 6.75rem;
        top: 9.5rem;
        overflow: auto;
    }
}