.candidateresult {
    position: relative;
    width: 100%;
    height: 4.625rem;

    border-top: 0.0625rem solid #C4C4C4;
    border-bottom: 0.0625rem solid #C4C4C4;

    cursor: default;
}

.candidateresult-- {
    &name {
        position: absolute;
        width: 12.5rem;
        height: 3rem;
        top: 1.4375rem;
        left: 0.75rem;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.75rem;
        letter-spacing: 0.02em;
        text-indent: 0.75rem;

        color: #000000;
    }

    &votes {
        position: absolute;
        width: 15.5rem;
        height: 3rem;
        top: 0.8125rem;
        left: calc(35% - 1.5rem);

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 3rem;
        text-indent: 0.75rem;

        color: #000000;
    }

    &voteper {
        position: absolute;
        width: 14.5rem;
        height: 2rem;
        top: 1.3125rem;
        right: 4rem;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.75rem;

        color: #000000;
    }

    &party {
        position: absolute;
        width: 14.5rem;
        height: 2rem;
        top: 1.3125rem;
        left: 45rem;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.75rem;

        color: #000000;
    }
}
