.candidate {
    position: absolute;
    width: calc(100% - 475px);
    height: calc(100% - 80px);
    top: 80px;
    left: 475px;

    cursor: default;
}

.candidate-- {
    &heading {
        position: absolute;
        left: 98px;
        top: 68px;

        font-family: Droid Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-indent: 12px;

        color: #000000;
    }

    &list {
        position: absolute;
        width: 90%;
        height: 700px;
        left: 108px;
        top: 152px;
        overflow: auto;
    }
}