.candidateresult {
    position: relative;
    width: 100%;
    height: 74px;

    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;

    cursor: default;
}

.candidateresult-- {
    &name {
        position: absolute;
        width: 200px;
        height: 48px;
        top: 23px;
        left: 12px;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-indent: 12px;

        color: #000000;
    }

    &votes {
        position: absolute;
        width: 248px;
        height: 48px;
        top: 13px;
        left: calc(35% - 24px);

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 48px;
        text-indent: 12px;

        color: #000000;
    }

    &voteper {
        position: absolute;
        width: 232px;
        height: 32px;
        top: 21px;
        right: 48px;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;

        color: #000000;
    }
}