.carousel {
    position: absolute;
    width: calc(100% - 37.5rem);
    height: calc(100% - 5rem);
    top: 5rem;
    left: 0rem;
    cursor: default;

    img {
        width: 100%;
        height: calc(100vh - 5rem);

    }
}