.headerlanding {
    position: absolute;
    width: 100%;
    height: 5rem;
    top: 0rem;
    left: 0rem;

    background-color: #08BBF4;
    cursor: default;
}

.headerlanding-- {
    &logo {
        position: absolute;
        width: 3rem;
        height: 3rem;
        top: 1rem;
        left: 1.5rem;

        background: #000000;
        border-radius: 3rem;
    }

    &heading {
        position: absolute;
        width: 34.25rem;
        height: 3rem;
        left: calc(50% - 17.125rem);
        top: 1.125rem;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1.875rem;
        line-height: 2.6875rem;
        text-align: center;

        color: #FFFFFF;
    }

    &register {
        position: absolute;
        width: 7.8125rem;
        height: 2.625rem;
        top: 1.1875rem;
        right: 3rem;

        background: #000000;
        border-radius: 0.125rem;
        border: 0.125rem solid #000000;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.875rem;
        text-align: center;

        color: #FFFFFF;
    }

    &register:hover {
        cursor: pointer;
    }
}