.login {
    position: absolute;
    width: 37.5rem;
    height: calc(100% - 5rem);
    top: 5rem;
    right: 0rem;

    background-color: rgba($color: #000000, $alpha: 1.0);
    cursor: default;
}

.login--photo video {
    object-position: right;
    width: 17.8125rem;
}

.login-- {
    &heading {
        position: absolute;
        width: 18.125rem;
        height: 3rem;
        top: calc(40% - 12.0625rem);
        left: calc(50% - 9.0625rem);

        font-family: Droid Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.75rem;
        text-align: center;

        color: #FFFFFF;
    }

    &photo {
        position: absolute;
        width: 18.125rem;
        height: 18.125rem;
        top: calc(40% - 9.0625rem);
        left: calc(50% - 9.0625rem);
        overflow: hidden;

        background-color: #FFFFFF;
        border-radius: 0.125rem;
        border: 0.125rem solid #08BBF4;
    }

    &voterid {
        position: absolute;
        width: 18.125rem;
        height: 3rem;
        top: calc(40% + 12.0625rem);
        left: calc(50% - 9.0625rem);

        border-radius: 0.125rem;
        border: 0.125rem solid #08BBF4;

        padding: 1.125rem;
        font-family: Orienta;
    }

    &button {
        position: absolute;
        width: 12.5rem;
        height: 3rem;
        top: calc(40% + 16.5625rem);
        left: calc(50% - 6.25rem);

        border-radius: 0.125rem;
        border: 0.125rem solid #000000;
        background-color: #08BBF4;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: center;

        color: #FFFFFF;
    }
}