.profile {
    position: absolute;
    height: calc(100% - 5rem);
    width: calc(100% - 29.6875rem);
    top: 5rem;
    left: 29.6875rem;

    cursor: default;
}

.profile-- {
    &photo {
        position: absolute;
        height: 17.1875rem;
        width: 17.1875rem;
        left: 4.5rem;
        top: 4.5rem;

        border: 0.1875rem solid #08BBF4;

        &-image {
            position: absolute;
            height: 16.8125rem;
            width: 16.8125rem;
            left: 0rem;
            top: 0rem;
        }
    }

    &heading {
        &-name {
            position: absolute;
            height: 3rem;
            width: 12.5rem;
            left: 24.1875rem;
            top: 5.25rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;
            letter-spacing: 0.02em;
            text-indent: 0.75rem;
        }

        &-voterid {
            position: absolute;
            height: 3rem;
            width: 12.5rem;
            left: 24.1875rem;
            top: 10rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;
            letter-spacing: 0.02em;
            text-indent: 0.75rem;
        }

        &-constituencyid {
            position: absolute;
            height: 3rem;
            width: 12.5rem;
            left: 24.1875rem;
            top: 15.375rem;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.375rem;
            letter-spacing: 0.02em;
            text-indent: 0.75rem;
        }
    }

    &name {
        position: absolute;
        height: 3rem;
        width: 12.5rem;
        left: 24.1875rem;
        top: 6.75rem;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.375rem;
        letter-spacing: 0.02em;
        text-indent: 0.75rem;
    }

    &voterid {
        position: absolute;
        height: 3rem;
        width: 12.5rem;
        left: 24.1875rem;
        top: 11.5rem;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.375rem;
        letter-spacing: 0.02em;
        text-indent: 0.75rem;
    }

    &constituencyid {
        position: absolute;
        height: 3rem;
        width: 12.5rem;
        left: 24.1875rem;
        top: 16.875rem;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.375rem;
        letter-spacing: 0.02em;
        text-indent: 0.75rem;
    }
}