.profile {
    position: absolute;
    height: calc(100% - 80px);
    width: calc(100% - 475px);
    top: 80px;
    left: 475px;

    cursor: default;
}

.profile-- {
    &photo {
        position: absolute;
        height: 275px;
        width: 275px;
        left: 72px;
        top: 72px;

        border: 3px solid #08BBF4;

        &-image {
            position: absolute;
            height: 269px;
            width: 269px;
            left: 0px;
            top: 0px;
        }
    }

    &heading {
        &-name {
            position: absolute;
            height: 48px;
            width: 200px;
            left: 387px;
            top: 84px;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.02em;
            text-indent: 12px;
        }

        &-voterid {
            position: absolute;
            height: 48px;
            width: 200px;
            left: 387px;
            top: 160px;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.02em;
            text-indent: 12px;
        }

        &-constituencyid {
            position: absolute;
            height: 48px;
            width: 200px;
            left: 387px;
            top: 246px;

            font-family: Orienta;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.02em;
            text-indent: 12px;
        }
    }

    &name {
        position: absolute;
        height: 48px;
        width: 200px;
        left: 387px;
        top: 108px;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        text-indent: 12px;
    }

    &voterid {
        position: absolute;
        height: 48px;
        width: 200px;
        left: 387px;
        top: 184px;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        text-indent: 12px;
    }

    &constituencyid {
        position: absolute;
        height: 48px;
        width: 200px;
        left: 387px;
        top: 270px;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        text-indent: 12px;
    }
}