.registrationbar{
    position: absolute;
    width: 37.5rem;
    height: 100%;

    background-color: #000000;
    cursor: default;
}

.react-html5-camera-photo>img, .react-html5-camera-photo>video {
    // position: relative;
    // resize: horizontal;
    width: 17.8125rem;
    height: 17.8125rem;
}

.registrationbar--photo video {
    object-position: right;
    width: 17.8125rem;
}

.registrationbar-- {
    &photo {
        position: absolute;
        left: 9.6875rem;
        top: calc(45% - 9.0625rem);
        width: 18.125rem;
        height: 18.125rem;

        background: #FFFFFF;
        border: 0.1875rem solid #08BBF4;
        border-radius: 0.125rem;
    }

    &button {
        position: absolute;
        left: 10.9375rem;
        top: calc(45% + 11.0625rem);
        width: 15.625rem;
        height: 3rem;

        background: #08BBF4;
        border: 0.125rem solid #08BBF4;
        border-radius: 0.125rem;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: center;

        color: #FFFFFF;
    }

    &button:hover {
        cursor: pointer;
    }
}