.results {
    position: absolute;
    width: calc(100% - 29.6875rem);
    height: calc(100% - 5rem);
    top: 5rem;
    left: 29.6875rem;
    cursor: default;
}

.results-- {
    &heading {
        position: absolute;
        left: 6.125rem;
        top: 4.25rem;

        font-family: Droid Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.02em;
        text-indent: 0.75rem;

        color: #000000;
    }

    &description {
        position: absolute;
        left: 6.875rem;
        top: 9.375rem;

        font-family: Orienta;
        font-style: normal;
        font-size: 1rem;
        line-height: 1.75rem;
        letter-spacing: 0.02em;

        color: #000000;

        &-image {
            position: absolute;
            left: 0rem;
            top: 9.375rem;
            height: 21.875rem;
            width: 31.25rem;
        }
    }

    &panel1 {
        position: absolute;
        left: 6.125rem;
        top: 7.8125rem;
        width: 52.5rem;
        height: 11.875rem;

        background: #FBFBFB;
        box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    }

    &data {
        &-voters {
            position: absolute;
            left: 2rem;
            top: 2.75rem;
            width: 12.5rem;
            height: 2rem;

            font-family: Orienta;
            font-style: normal;
            font-size: 1rem;
            line-height: 1.75rem;

            color: rgba($color: #000000, $alpha: 0.65);
        }

        &-candidates {
            position: absolute;
            left: 20.25rem;
            top: 2.75rem;
            width: 12.5rem;
            height: 2rem;

            font-family: Orienta;
            font-style: normal;
            font-size: 1rem;
            line-height: 1.75rem;

            color: rgba($color: #000000, $alpha: 0.65);
        }

        &-votes {
            position: absolute;
            left: 2rem;
            top: 5.875rem;
            width: 12.5rem;
            height: 2rem;

            font-family: Orienta;
            font-style: normal;
            font-size: 1rem;
            line-height: 1.75rem;

            color: rgba($color: #000000, $alpha: 0.65);
        }

        &-females {
            position: absolute;
            left: 20.25rem;
            top: 5.875rem;
            width: 18.75rem;
            height: 2rem;

            font-family: Orienta;
            font-style: normal;
            font-size: 1rem;
            line-height: 1.75rem;

            color: rgba($color: #000000, $alpha: 0.65);
        }
    }

    &panel2 {
        position: absolute;
        left: 6.125rem;
        top: 23.4375rem;
        width: 80%;
        height: 24.375rem;
    }
}