.sidebar {
    position: absolute;
    top: 5rem;
    left: 0rem;
    width: 29.6875rem;
    height: calc(100% - 5rem);
    background-color: rgba($color: #000000, $alpha: 0.95);

    cursor: default;
}

.sidebar-- {
    &panel {
        position: absolute;
        top: calc(47% - 9rem);
        left: 0rem;
        width: 100%;
        height:18rem;
    }

}