.sidebar {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 580px;
    height: calc(100% - 100px);
    background-color: #000000;
}

.sidebar-- {
    &panel {
        position: absolute;
        top: calc(49% - 144px);
        left: 0px;
        width: 100%;
        height:288px;
    }

}