.signout {
    position: absolute;
    width: 14.0625rem;
    height: 16.9375rem;
    right: 3rem;
    top: 4.375rem;

    background-color: #FFFFFF;
    border: 0.125rem solid #08BBF4;
    border-radius: 0.1875rem;

    z-index:2;
    cursor: default;
}

.signout-- {
    &heading {
        position: absolute;
        left: 2.5313rem;
        top: 2.75rem;
        width: 8.1875rem;
        height: 1.9375rem;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.1875rem;
        text-align: center;

        color: rgba(0, 0, 0, 0.7);
    }

    &data {
        position: absolute;
        left: 2.5313rem;
        top: 6rem;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 0.9375rem;
        display: flex;
        align-items: center;

        color: #08BBF4;
    }

    &button {
        position: absolute;
        left: 2.5313rem;
        top: 11.25rem;
        width: 9rem;
        height: 3rem;

        background: #000000;
        border-radius: 0.125rem;
        border: 0.125rem solid #000000;

        font-family: Orienta;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: center;

        color: #FFFFFF;
    }

    &button:hover {
        cursor: pointer;
    }
}